<div class="container-fluid sm-padding-horizontal-0 border">
    <div class="d-flex">
      <div class="row w-100">
        <div class="col-5">
          <img src="<%= item.img %>" class=" sm-detail-img" alt="<%= item.img_alt %>">
        </div>
        <div class="col-4 d-flex flex-column justify-content-center">
          <div><h4><%= item.name %></h4>
          <p>商品説明:</p></div>
        </div>
        <div class="col-3 border"></div>
      </div>
    </div>
  </div>
</div>
