<nav class="navbar navbar-expand-md navbar-light bg-light sm-header-margin fixed-top">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Company">企業概要</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Product">プロダクト</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Contact">お問い合わせ</a> 
            </li>
        </ul>
    </div>
</nav>