body {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sm-block-margin {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
}

.sm-header-config {
  margin-bottom: 20px;
  min-height: 70px;
}


.sm-margin-top-20{
  margin-top: 20px;
}

.sm-margin-vertical-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.sm-padding-0 {
  padding: 0px;
}

.sm-padding-vertical-0 {
  padding-top: 0px;
  padding-bottom: 0px;

}

.sm-padding-horizontal-0 {
  padding-left:  0px;
  padding-right: 0px;

}

.sm-width-200 {
  max-width:  200px;
  min-width:  200px;
}

.sm-width-new-item {
  max-width:  968px;
  min-width:  968px;
}

.sm-height-200 {
  max-height: 200px;
  min-height: 200px;
}

.sm-bg-sliver {
  background-color: #C0C0C0;
}

.new-item-area-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

.sm-scroll-button-left {
  width: 45px;
  height: 45px;
}

.sm-scroll-button-right {
  width: 45px;
  height: 45px;
}

.sm-button-search {
  background-color: coral;
  color: white;
  padding-left: 10px;
  padding-right: 10px;

  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: coral;
  font-size: 16px;
  cursor : pointer;
}

.sign-up-area {
  border-width: 1px;
  border-style: solid;
  width: 400px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
}
.sign-up-area > h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-up{
  list-style: none;
  padding-left: 20px;
}

.sign-up li {
  margin-bottom: 10px;
}

.sign-up li #button {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-width: 0px;
  background-color: orange;
  color: white;
}

.sign-up li > label{
  margin-right: 10px;
  width:100px;
}
